<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-brand">
      <h3>OS App Guide</h3>
      <p>
        Interactive guide for Operating Systems laboratories.
      </p>
    </div>

    <div class="footer-links">
      <a
        href="https://github.com/dianaelena1/Operating-Systems/tree/homework/Labs"
        target="_blank"
      >
        • GitHub Linux Labs
      </a>

      <a
        href="https://github.com/dianaelena1/os-app-guide"
        target="_blank"
      >
        • Angular App Source Code
      </a>
    </div>

    <div class="footer-copy">
      © 2026 Diana Radu • UBB Cluj, msg-systems Romania
    </div>
  </div>
</footer>